@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div>
        <div>
            <img src="~/img/cover page photo.png" class="hpback" />
        </div>
        <div>
            <img src="~/img/profile picture.png" class="pfimage" />
            <span class="namee">Ahmed Fathy</span>
            <span class="job">Software Developer</span>
        </div>
    </div>
    <div>
        <span class="backname">Background</span>
    </div>
    <div class=" backworksty">
        <span class="workExpname">
            Work Exerience
            <img src="~/img/icon- edit.png" class="iconimg" />
            <button type="button" class="add-work-style" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-plus"></i>
            </button>
        </span>
        <div id="tblProducts">
            @*<div class="card mb-3 " style="max-width: 700px;">
                <div class="row g-0">
                    <div class="col-md-1 p-3">
                        <img src="~/img/icon-workexperience.png" />
                    </div>
                    <div class="col-md-11">
                        <div class="card-body">
                            <div class="row d-flex ">
                                <span class="p-2 flex-grow-1 card-title titel-exper-style"></span>
                                <div class="p-2">
                                    <span class="expd">dfsarfgasdf</span>
                                    <input type="hidden" id="" value=""/>
                                    <button class="edit-work-style" onclick="updateitem()"> <i class="fa-solid fa-pen-to-square"></i></button>
                                    <button class="edit-work-style" onclick="deleteitem()"><i class="fa-solid fa-trash-can"></i></button>
                                </div>
                            </div>
                            <p class="card-text company-exper-style"></p>
                            <p class=" card-text des-exper-style"> </p>
                        </div>

                    </div>
                </div>
            </div>*@

        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal"
             tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">HprofileWorkExperience</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form1" method="post">

                            <div class="mb-3">
                                <label for="expName" class="col-form-label">Title*</label>
                                <input type="text" class="form-control" id="expName">
                            </div>
                            <div class="mb-3">
                                <label for="companyName" class="col-form-label">Employer*</label>
                                <input type="text" class="form-control" id="companyName">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    I am currently working in this role
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="StartDate" class="col-form-label">StartDate*</label>
                                <label for="EndDate" class="col-form-label" style="margin-left: 140px;">EndDate*</label>
                            </div>
                            <div class="mb-3">

                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Month
                                    </button>
                                    <ul class="dropdown-menu">
                                        li>
                                        <a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Year
                                    </button>
                                    <ul class="dropdown-menu">
                                        li>
                                        <a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Month
                                    </button>
                                    <ul class="dropdown-menu">
                                        li>
                                        <a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Year
                                    </button>
                                    <ul class="dropdown-menu">
                                        li>
                                        <a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="cityName" class="col-form-label">City / Branch</label>
                                <input type="text" class="form-control" id="cityName">
                            </div>
                            <div class="mb-3">
                                <label for="jobDescription" class="col-form-label">My job Description And Responsibalites</label>
                                <textarea class="form-control" id="jobDescription"></textarea>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="SkillBank">
                                <label class="form-check-label" for="SkillBank">
                                    SkillBankHelpful
                                </label>
                            </div>
                            @*<button type="button" class="btn btn-primary add-workdata">Save changes</button>*@
                            <div class="form-group">
                                <button type="button" class="btn btn-primary add-workdata" id="addid" onclick="triggerAdd()">Add</button>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary add-workdata" id="updateid" onclick="UPDATEDATA()">Update</button>
                            </div>
                        </form>
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    </div>*@
                </div>
            </div>
        </div>



    </div>
</div>

